@page
@model IdentityServerAspNetIdentity.Pages.Logout.LoggedOut

<div class="logged-out-page">
    <h1>
        <small>Выход из системы произведен</small>
    </h1>

    @if (Model.View.PostLogoutRedirectUri != null)
    {
        <div>
            Нажмите <a class="PostLogoutRedirectUri" href="@Model.View.PostLogoutRedirectUri">здесь</a>  для перехода на
            <span>@Model.View.ClientName</span> страницу.
        </div>
    }

    @if (Model.View.SignOutIframeUrl != null)
    {
        <iframe width="0" height="0" class="signout" src="@Model.View.SignOutIframeUrl"></iframe>
    }
</div>

@section scripts
{
    @if (Model.View.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
}